{% extends 'base.html' %}
{% block leftcolumn %}
<div class="block">
<div class="title"> 关于我 </div>
<div class="markdown-wrapper">
{{ Post.objects.get(link='aboutMe').content }}
</div>
</div>

{% endblock leftcolumn %}
{% block rightcolumn %}
<div class="block">

<center>
<div class="icon"> </div>

<div class="auto-margin">
    <div class="center-item">
    <a href="https://github.com/WIZeaz"> <i class="fa fa-github fa-2x"></i> </a>
    </div>
    <div class="center-item">
    <a href="https://twitter.com/WiZeaz"> <i class="fa fa-twitter fa-2x"></i> </a>
    </div>
    <div class="center-item">
    <a href="https://www.facebook.com/charlie.zhang.9659283"> <i class="fa fa-facebook fa-2x"></i> </a>
    </div>
</div>
<p></p>
<p><i class="fa fa-envelope-open fa-1x"></i> cnwizeaz@gmail.com </p>

</center>

</div>
{% endblock rightcolumn %}