<ul class="main-nav">
<div class="layui-container">
  <a href="/"> <li class="nav-item hide-div {% if nav_index==0 %} nav-this {% endif %}" id="logo"> WIZEAZ.TOP </li> </a>
  <a href="/post"> <li class="nav-item {% if nav_index==1 %} nav-this {% endif %}">文章</li> </a>
  <!--<a href="/project"> <li class="nav-item {% if nav_index==2 %} nav-this {% endif %}">项目</li> </a>-->
  <a href="/aboutMe"> <li class="nav-item {% if nav_index==3 %} nav-this {% endif %}">关于我</li> </a>
  </div>
</ul>

<!--
<ul class="layui-nav" lay-filter="">
  <li class="layui-nav-item layui-this"><a href="">My Logo</a></li>
  <li class="layui-nav-item "><a href="">文章</a></li>
  <li class="layui-nav-item"><a href="">项目</a></li>
  <li class="layui-nav-item"><a href="">关于我</a></li>
</ul>-->
